.repository-link {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;

  padding: 16px;
  border-radius: 4px;
  border-left-style: solid;
  border-left-width: 8px;

  border-left-color: #1976D2;
  background: rgb(50 112 179 / 30%);

}

.repository-link-svg {
  fill: white;
  max-width: 30px;
  width: 100%;
  opacity: 0.7;
}