.contact-form button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.contact-form > div:not(:first-child) {
    margin-top: 1.5rem;
}

.contact-form > div:last-child {
    text-align: right;
}