.alert {
    padding: 16px;
    margin: 24px 0;
    border-radius: 4px;
    border-left-style: solid;
    border-left-width: 8px;
}

.alert.helpful {
    border-left-color: #1976D2;
    background: rgb(50 112 179 / 30%);
}

.alert.important {
    border-left-color: #FF9800;
    background: rgb(153 119 41 / 30%);
}

.alert.critical {
    background: rgba(221, 0, 49, .3);
    border-left-color: #DD0031;
}