.post-intro-container {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;

  flex-direction: column;
  gap: 3rem;
}

.post-intro {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;

  @media (min-width: 992px) {
    grid-template-columns: 3fr 2fr;
  }
}

.post-intro-content {
  order: 1;

  @media (min-width: 992px) {
    order: 0;
  }
}

.post-intro-image {
  width: 100%;
}

.post-intro-title {
  margin: 0;
}

.post-intro-excerpt {
  text-align: justify;
}