#reply-title {
  margin-top: 60px;
}

.comment-body {
  display: flex;
  gap: 0.5rem;
}

.comment-author {
  flex-shrink: 0;
}

.comment-body .author {
  font-weight: 700;
}

.comment-body .content {
  background: #3a3b3c;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  flex-grow: 2;
}

.comment-list {
  list-style: none;
  padding-left: 0;

  > li {
    margin-top: 2rem;
  }

  .children {
    padding-left: 50px;
    list-style: none;

    > li {
      margin-top: 1rem;
    }
  }
}

.comment-body img.avatar.photo {
  border-radius: 50%;
}

#submit {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: #39923c;
  }
}

#cancel-comment-reply-link {
  margin-left: 50px;
}

.comment-content p {
  margin: 0;
}

.comment-metadata {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.comment-actions {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin-top: 1rem;
}
