:root {
  color-scheme: dark;
}

body {
  color: #bbbbbb;
  font-family: system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue", Arial,
  "Noto Sans",
  "Liberation Sans",
  sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.625;

  margin: 0;

  font-size: 1rem;
  font-weight: 400;

  background-color: #000000;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  line-height: 1;

  a {
    color: inherit;
  }

  code {
    font-size: inherit;
    padding: 0 .2em;
  }
}

h2 {
  margin-top: 4rem;
}

h3 {
  margin-top: 3rem;
}

h4 {
  margin-top: 2rem;
}

h5 {
  margin-top: 1.5rem;
}

h6 {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  transition: color 0.1s linear;
  color: #d3a656;

  &:hover {
    color: #574626;
  }
}

pre {
  color: #fff;
  background: #272822;
  border-radius: 4px;
}

code {
  word-break: break-word;
  background: rgba(110, 118, 129, 0.4);
  font-size: .875rem;
  color: #d7d7d7;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

textarea,
input[type="text"], input[type="email"], input[type="url"], input[type="search"] {
  width: 100%;
  background: black;
  color: white;
  border: #3a3b3c 1px solid;
  padding: 10px;
  box-sizing: border-box;
}


button, label {
  cursor: pointer;
}